<ng-container>
    <div class=" m-3">
      <div class="row m-0">
        <div class="col-md-2 text-center p-3 banner">
          <div class="row">
            <div class="header">
              <h5 class="text-center">HippoDocs</h5>
            </div>
          </div>
          <div class="row">
            <div class="banner-middle ">
              <img class="img-fluid img-thumbnail" src="https://raw.githubusercontent.com/skg1998/angular-hippodocs/master/src/asset/img/Sidebar-User-Icon.png" alt="Avatar" class="avatar">
              <p class="mt-2 mb-2">Hej, Nivrith!</p>
              <div class="setting">
                <img id="image-setting"src="https://raw.githubusercontent.com/skg1998/angular-hippodocs/master/src/asset/img/Vector%20(3).png">
                <p id="setting-text">Preferences</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="banner-bottom">
                <a href="#" class="btn logout-btn" role="button" aria-disabled="true"> <img src="https://raw.githubusercontent.com/skg1998/angular-hippodocs/master/src/asset/img/logout.png">Logout</a>
                <p id="time" class="text-center">12:44 pm</p>
                <p id="date" class="text-center">Tuesday | 9 Apr 2019 | India</p>
            </div>
          </div>
        </div>
        <div class=" col-md-9 p-0">
          <app-home></app-home>
          <p id="term" class="text-center">TERMS & CONDITIONS | FAQ | CONTACT US | SITE MAP | ABOUT US</p>
        </div>
      </div>
    </div>
  </ng-container>
  